.App h1{
  background-color:steelblue;
  color:aliceblue;
  font-size: 2em;
  padding: 5px;
  border-radius: 15px; 
  text-align: center;
  font:bold ;
}

.App .navbar {
  background-color:steelblue;
  border-radius: 15px;
 }

 .logo{
  color:white;
  font-size: 2em;
  padding-right: 5%;
 }

